* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-l{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-l {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-l {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.la1 { background: #fffef4;}
.la2 { background: #ddd2cd;}
.la3 { background: #ced3d3;}
.la4 { background: #cdcdd7;}
.la5 { background: #eef9fe;}
.la6 { }
.la7 { }
.la8 { }
.la9 { }
.la10 {}

.lb1 { background: #fbe5b1;}
.lb2 { background: #010101;}
.lb3 { background: #010101;}
.lb4 { background: #010101;}
.lb5 { background: #8bc7ed;}
.lb6 {}
.lb7 {}
.lb8 {}
.lb9 {}
.lb10 }

.lc1 { }
.lc2 { }
.lc3 { background: #ffeec9;}
.lc4 { background: #3b1312;}
.lc5 { background: #92cded;}
.lc6 { }
.lc7 { }
.lc8 { }
.lc9 { }
.lc10 {}

.ld1 { }
.ld2 { }
.ld3 { background: #fff6ce;}
.ld4 { background: #4b1212;}
.ld5 { background: #92cded;}
.ld6 { }
.ld7 { }
.ld8 { }
.ld9 { }
.ld10 {}

.le1 { }
.le2 { }
.le3 { background: #fff6ce;}
.le4 { background: #3b1312;}
.le5 { background: #92cded;}
.le6 { }
.le7 { }
.le8 { }
.le9 { }
.le10 {}

.lf1 { }
.lf2 { }
.lf3 { background: #fff6ce;}
.lf4 { background: #3b1312;}
.lf5 { background: #92cded;}
.lf6 { }
.lf7 { }
.lf8 { }
.lf9 { }
.lf10 {}

.lg1 { }
.lg2 { }
.lg3 { background: #fff6ce;}
.lg4 { background: #3b1312;}
.lg5 { background: #92cded;}
.lg6 { }
.lg7 { }
.lg8 { }
.lg9 { }
.lg10 {}

.lh1 { }
.lh2 { }
.lh3 { background: #fefad4;}
.lh4 { background: #4b1212;}
.lh5 { background: #94d0f2;}
.lh6 { }
.lh7 { }
.lh8 { }
.lh9 { }
.lh10 {}

.li1 { background: #faeee1;}
.li2 { background: #c8c8cd;}
.li3 { background: #cdbd9f;}
.li4 { background: #2d1010;}
.li5 { background: #709fbd;}
.li6 { background: #d3cdc8;}
.li7 { background: #cdd7e5;}
.li8 { }
.li9 { }
.li10 {}

.lj1 { background: #dda666;}
.lj2 { background: #010101;}
.lj3 { background: #010101;}
.lj4 { background: #010101;}
.lj5 { background: #010101;}
.lj6 { background: #010101;}
.lj7 { background: #263b89;}
.lj8 { }
.lj9 { }
.lj10 {}

.lk1 { }
.lk2 { }
.lk3 { }
.lk4 { }
.lk5 { }
.lk6 { }
.lk7 { }
.lk8 { }
.lk9 { }
.lk10 {}

.ll1 { }
.ll2 { }
.ll3 { }
.ll4 { }
.ll5 { }
.ll6 { }
.ll7 { }
.ll8 { }
.ll9 { }
.ll10 {}

.lm1 { }
.lm2 { }
.lm3 { }
.lm4 { }
.lm5 { }
.lm6 { }
.lm7 { }
.lm8 { }
.lm9 { }
.lm10 {}
