* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-k{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-k {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-k {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ka1 { background: #f2e5db;}
.ka2 { background: #cececd;}
.ka3 { background: #d8e0ee;}
.ka4 { }
.ka5 { }
.ka6 { }
.ka7 { }
.ka8 { }
.ka9 { }
.ka10 {}

.kb1 { background: #a45e26;}
.kb2 { background: #010101;}
.kb3 { background: #263b89;}
.kb4 { background: #f0f9fb;}
.kb5 {}
.kb6 {}
.kb7 {}
.kb8 {}
.kb9 {}
.kb10 {}

.kc1 {}
.kc2 { background:#b48764;}
.kc3 { background:#263c8e;}
.kc4 { background:#f0f9fb;}
.kc5 { }
.kc6 { }
.kc7 { }
.kc8 { }
.kc9 { }
.kc10 {}

.kd1 {}
.kd2 { background: #d19740;}
.kd3 { background: #263c8e;}
.kd4 {}
.kd5 { background: #b7825c;}
.kd6 { background: #505050;}
.kd7 { background: #422f5c;}
.kd8 { background: #b8e0f7;}
.kd9 { }
.kd10 {}

.ke1 {}
.ke2 { background: #d19740;}
.ke3 { background: #14489f;}
.ke4 { background: #f2f1d3;}
.ke5 { background: #5a0e0e;}
.ke6 { background: #16154b;}
.ke7 { background: #8298aa;}
.ke8 { background: #e0f2fc;}
.ke9 { }
.ke10 {}

.kf1 {}
.kf2 { background: #d1985c;}
.kf3 { background: #010101;}
.kf4 { background: #010101;}
.kf5 { background: #005c9f;}
.kf6 { background: #e7f5fa;}
.kf7 {}
.kf8 {}
.kf9 {}
.kf10 {}

.kg1 {}
.kg2 { background: #d1985c;}
.kg3 { background: #010101;}
.kg4 { background: #010101;}
.kg5 { background: #0169ac;}
.kg6 { }
.kg7 { }
.kg8 { }
.kg9 { }
.kg10 {}

.kh1 {}
.kh2 { background: #d5984f;}
.kh3 { background: #263c8e;}
.kh4 { background: #dcdcb7;}
.kh5 { background: #2d1010;}
.kh6 { background: #2f7ab7;}
.kh7 { }
.kh8 { }
.kh9 { }
.kh10 {}

.ki1 { background: #f2ead7;}
.ki2 { background: #9f702e;}
.ki3 { background: #263b89;}
.ki4 {}
.ki5 { background: #eabd82;}
.ki6 { background: #010101;}
.ki7 { background: #5d89aa;}
.ki8 { background: #d3dcea;}
.ki9 { }
.ki10 {}

.kj1 { background: #b77129;}
.kj2 { background: #010101;}
.kj3 { background: #2f7ab2;}
.kj4 {}
.kj5 { background: #f8d79f;}
.kj6 { background: #010101;}
.kj7 { background: #010101;}
.kj8 { background: #1a4693;}
.kj9 { background: #f3fafb;}
.kj10 {}

.kk1 { }
.kk2 { }
.kk3 { }
.kk4 { }
.kk5 { }
.kk6 { }
.kk7 { }
.kk8 { }
.kk9 { }
.kk10 {}

.kl1 { }
.kl2 { }
.kl3 { }
.kl4 { }
.kl5 { }
.kl6 { }
.kl7 { }
.kl8 { }
.kl9 { }
.kl10 {}

.km1 { }
.km2 { }
.km3 { }
.km4 { }
.km5 { }
.km6 { }
.km7 { }
.km8 { }
.km9 { }
.km10 {}
