* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-j{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-j {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-j {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ja1 {}
.ja2 {}
.ja3 { background: #fdfce6;}
.ja4 { background: #986742;}
.ja5 { background: #79abdc;}
.ja6 { }
.ja7 { }
.ja8 { }
.ja9 { }
.ja10 {}

.jb1 {}
.jb2 {}
.jb3 { background: #fffbd9;}
.jb4 { background: #5a0e0e;}
.jb5 { background: #0e82c6;}
.jb6 { }
.jb7 { }
.jb8 { }
.jb9 { }
.jb10 {}

.jc1 {}
.jc2 {}
.jc3 {}
.jc4 { background: #e5d7d2;}
.jc5 { background: #dde9f7;}
.jc6 { }
.jc7 { }
.jc8 { }
.jc9 { }
.jc10 {}

.jd1 { background: #ac704f;}
.jd2 { background: #2e4242;}
.jd3 { background: #424242;}
.jd4 { background: #505d5d;}
.jd5 { background: #4f5d83;}
.jd6 { background: #d6eff8;}
.jd7 { }
.jd8 { }
.jd9 { }
.jd10 {}

.je1 { background: #d1b7a6;}
.je2 { background: #989fa0;}
.je3 { background: #9e9fa5;}
.je4 { background: #a59879;}
.je5 { background: #0f113e;}
.je6 { background: #caebf9;}
.je7 { }
.je8 { }
.je9 { }
.je10 {}

.jf1 {}
.jf2 {}
.jf3 {}
.jf4 { background: #fefad4;}
.jf5 { background: #410b40;}
.jf6 { background: #caebf9;}
.jf7 { }
.jf8 { }
.jf9 { }
.jf10 {}

.jg1 {}
.jg2 {}
.jg3 {}
.jg4 { background: #fefad4;}
.jg5 { background: #410b40;}
.jg6 { background: #caebf9;}
.jg7 { }
.jg8 { }
.jg9 { }
.jg10 {}

.jh1 {}
.jh2 {}
.jh3 {}
.jh4 { background: #fefad4;}
.jh5 { background: #410b40;}
.jh6 { background: #caebf9;}
.jh7 { }
.jh8 { }
.jh9 { }
.jh10 {}

.ji1 {}
.ji2 {}
.ji3 {}
.ji4 { background: #fefad4;}
.ji5 { background: #410b40;}
.ji6 { background: #caebf9;}
.ji7 { }
.ji8 { }
.ji9 { }
.ji10 {}

.jj1 {}
.jj2 {}
.jj3 {}
.jj4 { background: #f7dca5;}
.jj5 { background: #0f113e;}
.jj6 { background: #caebf9;}
.jj7 { }
.jj8 { }
.jj9 { }
.jj10 {}

.jk1 {}
.jk2 {}
.jk3 {}
.jk4 { background: #e5bd82;}
.jk5 { background: #0f113e;}
.jk6 { background: #caebf9;}
.jk7 { }
.jk8 { }
.jk9 { }
.jk10 {}

.jl1 { background: #b17942;}
.jl2 { background: #03414f;}
.jl3 { background: #5d4f2f;}
.jl4 { background: #010101;}
.jl5 { background: #0371b2;}
.jl6 { }
.jl7 { }
.jl8 { }
.jl9 { }
.jl10 {}

.jm1 { background: #d7b79e;}
.jm2 { background: #7a7a7a;}
.jm3 { background: #7a8289;}
.jm4 { background: #a6b7cd;}
.jm5 { }
.jm6 { }
.jm7 { }
.jm8 { }
.jm9 { }
.jm10 {}
