* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-d{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-d {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-d {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.da1 {  }
.da2 {  }
.da3 {  }
.da4 {  }
.da5 {  }
.da6 { background: #e5d7d2;  }
.da7 { background: #cececd;  }
.da8 { background: #d7e5f2;  }
.da9 {  }
.da10 { }

.db1 {  }
.db2 {  }
.db3 {  }
.db4 {  }
.db5 { background: #fff7d3;  }
.db6 { background: #5a0e0e;  }
.db7 { background: #010101;  }
.db8 { background: #2f8ac8;  }
.db9 {  }
.db10 { }

.dc1 {  }
.dc2 {  }
.dc3 {  }
.dc4 {  }
.dc5 {  }
.dc6 {  }
.dc7 { background: #91301e;  }
.dc8 { background: #4191ce;  }
.dc9 {  }
.dc10 { }

.dd1 {  }
.dd2 {  }
.dd3 { background: #d7bda0;  }
.dd4 { background: #675042;  }
.dd5 { background: #42425c;  }
.dd6 { background: #899f98;  }
.dd7 { background: #5a0e0e;  }
.dd8 { background: #4191ce;  }
.dd9 {  }
.dd10 { }

.de1 {  }
.de2 { background: #d19f5d;  }
.de3 { background: #010101;  }
.de4 { background: #2f5d83;  }
.de5 { background: #989882;  }
.de6 { background: #2d1010;  }
.de7 { background: #010101;  }
.de8 { background: #5099cd;  }
.de9 {  }
.de10 { }

.df1 { background: #fff7d3;  }
.df2 { background: #4b1212;  }
.df3 { background: #5092c8;  }
.df4 {  }
.df5 {  }
.df6 { background: #fff2ce;  }
.df7 { background: #640e0e;  }
.df8 { background: #4191ce;  }
.df9 {  }
.df10 { }

.dg1 { background: #fff2ce;  }
.dg2 { background: #4b1212;  }
.dg3 { background: #7bc2eb; }
.dg4 {  }
.dg5 {  }
.dg6 { background: #fefdef;  }
.dg7 { background: #811517;  }
.dg8 { background: #4191ce;  }
.dg9 {  }
.dg10 { }

.dh1 { background: #fff2ce;  }
.dh2 { background: #3b1312;  }
.dh3 { background: #72b1e1; }
.dh4 {  }
.dh5 {  }
.dh6 { background: #fffade;  }
.dh7 { background: #6e0e10;  }
.dh8 { background: #4198d4;  }
.dh9 {  }
.dh10 { }

.di1 { background: #fefdef;  }
.di2 { background: #985223;  }
.di3 { background: #10112c;  }
.di4 { background: #82a5c1;  }
.di5 { background: #d8d3c2;  }
.di6 { background: #895121;  }
.di7 { background: #010101;  }
.di8 { background: #4371a0;  }
.di9 { background: #dff3fa;  }
.di10 { }

.dj1 {  }
.dj2 { background: #ffefd3;  }
.dj3 { background: #815020;  }
.dj4 { background: #010101;  }
.dj5 { background: #010101;  }
.dj6 { background: #2f505d;  }
.dj7 { background: #2d1010;  }
.dj8 { background: #010101;  }
.dj9 { background: #5da5d6;  }
.dj10 { }

.dk1 {  }
.dk2 {  }
.dk3 {  }
.dk4 { background: #f3efee;  }
.dk5 { background: #eeeef7;  }
.dk6 {  }
.dk7 {  }
.dk8 {  }
.dk9 {  }
.dk10 { }

.dl1 {  }
.dl2 {  }
.dl3 {  }
.dl4 {  }
.dl5 {  }
.dl6 {  }
.dl7 {  }
.dl8 {  }
.dl9 {  }
.dl10 { }

.dm1 {  }
.dm2 {  }
.dm3 {  }
.dm4 {  }
.dm5 {  }
.dm6 {  }
.dm7 {  }
.dm8 {  }
.dm9 {  }
.dm10 { }
