* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-e{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-e {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-e {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ea1 { }
.ea2 { }
.ea3 { }
.ea4 { }
.ea5 { }
.ea6 { }
.ea7 { }
.ea8 { }
.ea9 { }
.ea10 {}

.eb1 { }
.eb2 { }
.eb3 { }
.eb4 { }
.eb5 { }
.eb6 { }
.eb7 { }
.eb8 { }
.eb9 { }
.eb10 {}

.ec1 { }
.ec2 { }
.ec3 { }
.ec4 { }
.ec5 { }
.ec6 { }
.ec7 { }
.ec8 { }
.ec9 { }
.ec10 {}

.ed1 { }
.ed2 { }
.ed3 { background: #D2B791;}
.ed4 { background: #4B1212;}
.ed5 { background: #010101;}
.ed6 { background: #10112C;}
.ed7 { background: #82A5C7;}
.ed8 { }
.ed9 { }
.ed10 {}

.ee1 { }
.ee2 { background: #D79F5D;}
.ee3 { background: #010101;}
.ee4 { background: #5C82A4;}
.ee5 { background: #CED8D3;}
.ee6 { background: #B7986F;}
.ee7 { background: #010101;}
.ee8 { background: #418AC3;}
.ee9 { }
.ee10 {}

.ef1 { background: #FFF7D3;}
.ef2 { background: #5A0E0E;}
.ef3 { background: #005C9F;}
.ef4 { background: #E7F4F1;}
.ef5 { background: #EFEEEE;}
.ef6 { }
.ef7 { background: #A46728;}
.ef8 { background: #16154B;}
.ef9 { background: #CFEDF9;}
.ef10 {}

.eg1 { background: #FFF2CE;}
.eg2 { background: #4B1212;}
.eg3 { background: #010101;}
.eg4 { background: #010101;}
.eg5 { background: #010101;}
.eg6 { background: #010101;}
.eg7 { background: #010101;}
.eg8 { background: #16154B;}
.eg9 { background: #CFEDF9;}
.eg10 {}

.eh1 { background: #FFF2CE;}
.eh2 { background: #4B1212;}
.eh3 { background: #428AC9;}
.eh4 { }
.eh5 { }
.eh6 { }
.eh7 { }
.eh8 { background: #EEF2F7;}
.eh9 { }
.eh10 {}

.ei1 { }
.ei2 { background: #B77129;}
.ei3 { background: #10112C;}
.ei4 { background: #92B7CD;}
.ei5 { background: #E5EAE9;}
.ei6 { background: #D7C7B7;}
.ei7 { background: #835D2E;}
.ei8 { background: #0F113E;}
.ei9 { background: #D1EDF7;}
.ei10 {}

.ej1 { }
.ej2 { }
.ej3 { background: #A57A4F;}
.ej4 { background: #010101;}
.ej5 { background: #010101;}
.ej6 { background: #010101;}
.ej7 { background: #035067;}
.ej8 { background: #A6C2DB;}
.ej9 { }
.ej10 {}

.ek1 { }
.ek2 { }
.ek3 { }
.ek4 { background: #FDF3EE;}
.ek5 { background: #EFEEEE;}
.ek6 { background: #F7F7FB;}
.ek7 { }
.ek8 { }
.ek9 { }
.ek10 {}

.el1 { }
.el2 { }
.el3 { }
.el4 { }
.el5 { }
.el6 { }
.el7 { }
.el8 { }
.el9 { }
.el10 {}

.em1 { }
.em2 { }
.em3 { }
.em4 { }
.em5 { }
.em6 { }
.em7 { }
.em8 { }
.em9 { }
.em10 {}
