* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-g{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-g {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-g {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ga1 { }
.ga2 { }
.ga3 { }
.ga4 { }
.ga5 { }
.ga6 { }
.ga7 { }
.ga8 { }
.ga9 { }
.ga10 {}

.gb1 { }
.gb2 { }
.gb3 { }
.gb4 { }
.gb5 { }
.gb6 { }
.gb7 { }
.gb8 { }
.gb9 { }
.gb10 {}

.gc1 { }
.gc2 { }
.gc3 { }
.gc4 { }
.gc5 { }
.gc6 { }
.gc7 { }
.gc8 { }
.gc9 { }
.gc10 {}

.gd1 { }
.gd2 { }
.gd3 { background: #C19F82; }
.gd4 { background: #504242; }
.gd5 { background: #425071; }
.gd6 { background: #ACB7AB; }
.gd7 { background: #715042; }
.gd8 { background: #425083; }
.gd9 { background: #DFF2F9; }
.gd10 {}

.ge1 { }
.ge2 { background: #B7792E; }
.ge3 { background: #010101; }
.ge4 { background: #5D7A89; }
.ge5 { background: #91795D; }
.ge6 { background: #010101; }
.ge7 { background: #010101; }
.ge8 { background: #010101; }
.ge9 { background: #768FC9; }
.ge10 {}

.gf1 { background: #FFF6CE; }
.gf2 { background: #3B1312; }
.gf3 { background: #7BB8E4; }
.gf4 { }
.gf5 { }
.gf6 { background: #E5BD82; }
.gf7 { background: #16154B; }
.gf8 { background: #D7EFF6; }
.gf9 { }
.gf10 {}

.gg1 { background: #F7DBA5; }
.gg2 { background: #10112C; }
.gg3 { background: #C1E8F9; }
.gg4 { }
.gg5 { }
.gg6 { background: #FFF2C9; }
.gg7 { background: #2F0940; }
.gg8 { background: #CAEBF9; }
.gg9 { }
.gg10 {}

.gh1 { background: #FFF6CE; }
.gh2 { background: #4B1212; }
.gh3 { background: #66A5D2; }
.gh4 { }
.gh5 { }
.gh6 { background: #D8AC71; }
.gh7 { background: #16154B; }
.gh8 { background: #CFEDF9; }
.gh9 { }
.gh10 {}

.gi1 { }
.gi2 { background: #C18940; }
.gi3 { background: #010101; }
.gi4 { background: #01435D; }
.gi5 { background: #5B4319; }
.gi6 { background: #010101; }
.gi7 { background: #16154B; }
.gi8 { background: #CFEDF9; }
.gi9 { }
.gi10 {}

.gj1 { }
.gj2 { }
.gj3 { background: #D2B79F; }
.gj4 { background: #7A7A7A; }
.gj5 { background: #7A8298; }
.gj6 { background: #B8B28A; }
.gj7 { background: #0F113E; }
.gj8 { background: #CAEBF9; }
.gj9 { }
.gj10 {}

.gk1 { }
.gk2 { }
.gk3 { }
.gk4 { }
.gk5 { }
.gk6 { background: #EEC189; }
.gk7 { background: #0F113E; }
.gk8 { background: #CAEBF9; }
.gk9 { }
.gk10 {}

.gl1 { }
.gl2 { }
.gl3 { background: #C29166; }
.gl4 { background: #43505D; }
.gl5 { background: #675D41; }
.gl6 { background: #010101; }
.gl7 { background: #0169AC; }
.gl8 { }
.gl9 { }
.gl10 {}

.gm1 { }
.gm2 { }
.gm3 { background: #D2B191; }
.gm4 { background: #717171; }
.gm5 { background: #717982; }
.gm6 { background: #A0B2C9; }
.gm7 { background: #F0F9FB; }
.gm8 { }
.gm9 { }
.gm10 {}
