* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-f{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-f {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-f {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.fa1 { }
.fa2 { }
.fa3 { }
.fa4 { background: #EEE5DB;}
.fa5 { background: #CECECD;}
.fa6 { background: #CED2D7;}
.fa7 { background: #EEF9FE;}
.fa8 { }
.fa9 { }
.fa10 {}

.fb1 { }
.fb2 { background: #FFFEF4;}
.fb3 { background: #AB712D;}
.fb4 { background: #010101;}
.fb5 { background: #010101;}
.fb6 { background: #010101;}
.fb7 { background: #3191CF;}
.fb8 { }
.fb9 { }
.fb10 {}

.fc1 { }
.fc2 { background: #FEFAD4;}
.fc3 { background: #3B1312;}
.fc4 { background: #8ABEE0;}
.fc5 { }
.fc6 { background: #F7F3EE;}
.fc7 { }
.fc8 { }
.fc9 { }
.fc10 {}

.fd1 { background: #CEAC92;}
.fd2 { background: #837A67;}
.fd3 { background: #010101;}
.fd4 { background: #708288;}
.fd5 { background: #898989;}
.fd6 { background: #838AA5;}
.fd7 { background: #E2F4FA;}
.fd8 { }
.fd9 { }
.fd10 {}

.fe1 { background: #C19170;}
.fe2 { background: #505D50;}
.fe3 { background: #010101;}
.fe4 { background: #505D65;}
.fe5 { background: #505D65;}
.fe6 { background: #4F5D89;}
.fe7 { background: #DEF2FB;}
.fe8 { }
.fe9 { }
.fe10 {}

.ff1 { }
.ff2 { background: #FEFAD4;}
.ff3 { background: #410B40;}
.ff4 { background: #D3EEF5;}
.ff5 { }
.ff6 { }
.ff7 { }
.ff8 { }
.ff9 { }
.ff10 {}

.fg1 { }
.fg2 { background: #FEFAD4;}
.fg3 { background: #410B40;}
.fg4 { background: #CAEBF9;}
.fg5 { }
.fg6 { }
.fg7 { }
.fg8 { }
.fg9 { }
.fg10 {}

.fh1 { }
.fh2 { background: #FEFAD4;}
.fh3 { background: #410B40;}
.fh4 { background: #D3EEF5;}
.fh5 { }
.fh6 { }
.fh7 { }
.fh8 { }
.fh9 { }
.fh10 {}

.fi1 { background: #E9D7D2;}
.fi2 { background: #C8BD9E;}
.fi3 { background: #2E0F2D;}
.fi4 { background: #99BEC9;}
.fi5 { background: #CDC8C2;}
.fi6 { background: #C9D3E0;}
.fi7 { }
.fi8 { }
.fi9 { }
.fi10 {}

.fj1 { background: #A05124;}
.fj2 { background: #010101;}
.fj3 { background: #010101;}
.fj4 { background: #010101;}
.fj5 { background: #010101;}
.fj6 { background: #1E1C58;}
.fj7 { background: #D6EFF8;}
.fj8 { }
.fj9 { }
.fj10 {}

.fk1 { }
.fk2 { }
.fk3 { }
.fk4 { }
.fk5 { }
.fk6 { }
.fk7 { }
.fk8 { }
.fk9 { }
.fk10 {}

.fl1 { }
.fl2 { }
.fl3 { }
.fl4 { }
.fl5 { }
.fl6 { }
.fl7 { }
.fl8 { }
.fl9 { }
.fl10 {}

.fm1 { }
.fm2 { }
.fm3 { }
.fm4 { }
.fm5 { }
.fm6 { }
.fm7 { }
.fm8 { }
.fm9 { }
.fm10 {}
