* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-m {
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-m {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-m {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ma1 { }
.ma2 { }
.ma3 { }
.ma4 { }
.ma5 { }
.ma6 { }
.ma7 { }
.ma8 { }
.ma9 { }
.ma10 {}

.mb1 { }
.mb2 { }
.mb3 { }
.mb4 { }
.mb5 { }
.mb6 { }
.mb7 { }
.mb8 { }
.mb9 { }
.mb10 {}

.mc1 { }
.mc2 { }
.mc3 { }
.mc4 { }
.mc5 { }
.mc6 { }
.mc7 { }
.mc8 { }
.mc9 { }
.mc10 {}

.md1 { background: #b27a50;}
.md2 { background: #415050;}
.md3 { background: #505042;}
.md4 { background: #010101;}
.md5 { background: #426779;}
.md6 { background: #796642;}
.md7 { background: #010101;}
.md8 { background: #5083b3;}
.md9 {}
.md10 {}

.me1 { background: #dcbe9f;}
.me2 { background: #4b1212;}
.me3 { background: #1f3264;}
.me4 { background: #989879;}
.me5 { background: #010101;}
.me6 { background: #22366d;}
.me7 { background: #9f9f79;}
.me8 { background: #0f113e;}
.me9 { background: #caebf9;}
.me10 {}

.mf1 {}
.mf2 { background: #98311f;}
.mf3 { background: #88c6ed;}
.mf4 { background: #fcfad9;}
.mf5 { background: #4b1212;}
.mf6 { background: #8cc8ed;}
.mf7 { background: #fcfad9;}
.mf8 { background: #4b1212;}
.mf9 { background: #a8d6f3;}
.mf10 {}

.mg1 {}
.mg2 { background: #91301e;}
.mg3 { background: #8dccf0;}
.mg4 { background: #fefacf;}
.mg5 { background: #3b1312;}
.mg6 { background: #95cbee;}
.mg7 { background: #fefad4;}
.mg8 { background: #3b1312;}
.mg9 { background: #92cded;}
.mg10 {}

.mh1 {}
.mh2 { background: #98311f;}
.mh3 { background: #8ecff2;}
.mh4 { background: #fefad4;}
.mh5 { background: #3b1312;}
.mh6 { background: #94d0f2;}
.mh7 { background: #fefacf;}
.mh8 { background: #3b1312;}
.mh9 { background: #99d1f2;}
.mh10 {}

.mi1 { background: #f1e0c8;}
.mi2 { background: #6e0e10;}
.mi3 { background: #679fc8;}
.mi4 { background: #eeeac7;}
.mi5 { background: #4b1212;}
.mi6 { background: #66a5d2;}
.mi7 { background: #fbf2d2;}
.mi8 { background: #4b1212;}
.mi9 { background: #4392c2;}
.mi10 {}

.mj1 { background: #a45e26;}
.mj2 { background: #010101;}
.mj3 { background: #010101;}
.mj4 { background: #98cdd7;}
.mj5 { background: #9e5e26;}
.mj6 { background: #1e1c58;}
.mj7 { background: #cde8d2;}
.mj8 { background: #6e0e10;}
.mj9 { background: #16154b;}
.mj10 {background: #d1edf7;}

.mk1 { }
.mk2 { }
.mk3 { }
.mk4 { }
.mk5 { }
.mk6 { }
.mk7 { }
.mk8 { }
.mk9 { }
.mk10 {}

.ml1 { }
.ml2 { }
.ml3 { }
.ml4 { }
.ml5 { }
.ml6 { }
.ml7 { }
.ml8 { }
.ml9 { }
.ml10 {}

.mm1 { }
.mm2 { }
.mm3 { }
.mm4 { }
.mm5 { }
.mm6 { }
.mm7 { }
.mm8 { }
.mm9 { }
.mm10 {}
