* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-i{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-i {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-i {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ia1 {}
.ia2 {}
.ia3 {}
.ia4 { background: #ddb082;}
.ia5 { background: #425083;}
.ia6 { background: #def2fb;}
.ia7 { }
.ia8 { }
.ia9 { }
.ia10 {}

.ib1 {}
.ib2 {}
.ib3 {}
.ib4 { background: #d19740;}
.ib5 { background: #010101;}
.ib6 { background: #c6e9f6;}
.ib7 { }
.ib8 { }
.ib9 { }
.ib10 {}

.ic1 {}
.ic2 {}
.ic3 {}
.ic4 { background: #faeee1;}
.ic5 { background: #ced2e0;}
.ic6 { background: #f7fcfd;}
.ic7 { }
.ic8 { }
.ic9 { }
.ic10 {}

.id1 {}
.id2 { background: #fae3bd;}
.id3 { background: #5d2f2f;}
.id4 { background: #50505d;}
.id5 { background: #5c6798;}
.id6 { background: #e2f4fa;}
.id7 { }
.id8 { }
.id9 { }
.id10 {}

.ie1 {}
.ie2 { background: #fef7e1;}
.ie3 { background: #b19fa5;}
.ie4 { background: #988250;}
.ie5 { background: #0f113e;}
.ie6 { background: #caebf9;}
.ie7 { }
.ie8 { }
.ie9 { }
.ie10 {}

.if1 {}
.if2 {}
.if3 {}
.if4 { background: #fbd798;}
.if5 { background: #0f113e;}
.if6 { background: #cfedf9;}
.if7 { }
.if8 { }
.if9 { }
.if10 {}

.ig1 {}
.ig2 {}
.ig3 {}
.ig4 { background: #f3d298;}
.ig5 { background: #0f113e;}
.ig6 { background: #cfedf9;}
.ig7 { }
.ig8 { }
.ig9 { }
.ig10 {}

.ih1 {}
.ih2 {}
.ih3 {}
.ih4 { background: #f7d799;}
.ih5 { background: #16154b;}
.ih6 { background: #d6eff8;}
.ih7 { }
.ih8 { }
.ih9 { }
.ih10 {}

.ii1 {}
.ii2 { background: #e0d2cd;}
.ii3 { background: #c8cdd1;}
.ii4 { background: #bc9d70;}
.ii5 { background: #010101;}
.ii6 { background: #92b7c8;}
.ii7 { background: #cdc8c8;}
.ii8 { background: #d7e5f2;}
.ii9 { }
.ii10 {}

.ij1 { background: #fffade;}
.ij2 { background: #6e0e10;}
.ij3 { background: #010101;}
.ij4 { background: #010101;}
.ij5 { background: #010101;}
.ij6 { background: #010101;}
.ij7 { background: #010101;}
.ij8 { background: #4191ce;}
.ij9 { }
.ij10 {}

.ik1 { }
.ik2 { }
.ik3 { }
.ik4 { }
.ik5 { }
.ik6 { }
.ik7 { }
.ik8 { }
.ik9 { }
.ik10 {}

.il1 { }
.il2 { }
.il3 { }
.il4 { }
.il5 { }
.il6 { }
.il7 { }
.il8 { }
.il9 { }
.il10 {}

.im1 { }
.im2 { }
.im3 { }
.im4 { }
.im5 { }
.im6 { }
.im7 { }
.im8 { }
.im9 { }
.im10 {}
