* { box-sizing: border-box;}

body {
	margin: 0;
	padding: 0;
	font-size: 0;}

div {vertical-align: top;}

.letter-h{
	width: 500px;
	height: 650px;
	display: inline-block;
}

.row-h {
	width: 500px;
	height: 50px;
	display: inline-block;
}

.pix-h {
	width: 50px;
	height: 50px;
	margin: 0px;
	display: inline-block;
}

.ha1 { background: #FFF8EA;}
.ha2 { background: #D2CDCD;}
.ha3 { background: #D3DCEA;}
.ha4 { }
.ha5 { }
.ha6 { }
.ha7 { }
.ha8 { }
.ha9 { }
.ha10 {}

.hb1 { background: #F7D297;}
.hb2 { background: #010101;}
.hb3 { background: #263B89;}
.hb4 { background: #F0F9FB;}
.hb5 { }
.hb6 { }
.hb7 { }
.hb8 { }
.hb9 { }
.hb10 {}

.hc1 { }
.hc2 { background: #CD913E;}
.hc3 { background: #1A4697;}
.hc4 { background: #F7FCFD;}
.hc5 { }
.hc6 { }
.hc7 { }
.hc8 { }
.hc9 { }
.hc10 {}

.hd1 { }
.hd2 { background: #d2984f;}
.hd3 { background: #10112c;}
.hd4 { background: #79715d;}
.hd5 { background: #010101;}
.hd6 { background: #1f3264;}
.hd7 { background: #b2d2ed;}
.hd8 { }
.hd9 { }
.hd10 {}

.he1 { }
.he2 { background: #d1985c;}
.he3 { background: #010101;}
.he4 { background: #005082;}
.he5 { background: #640e0e;}
.he6 { background: #640e0e;}
.he7 { background: #263c8e;}
.he8 { background: #f3fafb;}
.he9 { }
.he10 {}

.hf1 { }
.hf2 { background: #d2984f;}
.hf3 { background: #26286e;}
.hf4 { background: #e8f6f8;}
.hf5 { }
.hf6 { background: #f2ce92;}
.hf7 { background: #16154b;}
.hf8 { background: #d1edf7;}
.hf9 { }
.hf10 {}

.hg1 { }
.hg2 { background: #d19740;}
.hg3 { background: #263c8e;}
.hg4 { background: #f3fafb;}
.hg5 { }
.hg6 { background: #f3d298;}
.hg7 { background: #0f113e;}
.hg8 { background: #caebf9;}
.hg9 { }
.hg10 {}

.hh1 { }
.hh2 { background: #d8a04f;}
.hh3 { background: #20419a;}
.hh4 { background: #f7fcfd;}
.hh5 { }
.hh6 { background: #f7d799;}
.hh7 { background: #16154b;}
.hh8 { background: #d6eff8;}
.hh9 { }
.hh10 {}

.hi1 { background: #fffbe7;}
.hi2 { background: #9e5e26;}
.hi3 { background: #21205f;}
.hi4 { background: #c3e0f2;}
.hi5 { }
.hi6 { background: #c8a067;}
.hi7 { background: #010101;}
.hi8 { background: #99c2df;}
.hi9 { }
.hi10 {}

.hj1 { background: #f3d290;}
.hj2 { background: #010101;}
.hj3 { background: #010101;}
.hj4 { background: #1767b2;}
.hj5 { background: #faf9d4;}
.hj6 { background: #4b1212;}
.hj7 { background: #010101;}
.hj8 { background: #26286e;}
.hj9 { background: #e2f4fa;}
.hj10 {}

.hk1 { }
.hk2 { }
.hk3 { }
.hk4 { }
.hk5 { }
.hk6 { }
.hk7 { }
.hk8 { }
.hk9 { }
.hk10 {}

.hl1 { }
.hl2 { }
.hl3 { }
.hl4 { }
.hl5 { }
.hl6 { }
.hl7 { }
.hl8 { }
.hl9 { }
.hl10 {}

.hm1 { }
.hm2 { }
.hm3 { }
.hm4 { }
.hm5 { }
.hm6 { }
.hm7 { }
.hm8 { }
.hm9 { }
.hm10 {}
