@font-face {
    font-family: 'gotham';
    src: url('../fonts/goth-webfont.eot');
    src: url('../fonts/goth-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/goth-webfont.woff2') format('woff2'),
         url('../fonts/goth-webfont.woff') format('woff'),
         url('../fonts/goth-webfont.ttf') format('truetype'),
         url('../fonts/goth-webfont.svg#goth_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #98edde;
	font-size: 0px;
	overflow-x: auto;
}

.wrapper{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	min-width: 1031px;
}

.line1{
	width: 497px;
	height: 133px;
	font-family: gotham;
	font-size: 122px;
	color:#fff;
	position: absolute;
  	bottom: 181px;
 	left: 50%;
 	transform: translate(-517px, -50%);
 	z-index: 2;
}

.f{
	width: 47px;
	height: 133px;
	font-family: gotham;
	font-size: 122px;
	color:#fff;
	position: absolute;
  	bottom: 80px;
 	left: 50%;
 	transform: translate(-90px, -50%);
 	text-decoration: underline;
 	z-index: 2;
}

.ck{
    width: 143px;
    height: 133px;
    font-family: gotham;
    font-size: 122px;
    color: #FFF;
    position: absolute;
    bottom: 0;
    right: 0;
    text-decoration: underline;
    z-index: 3;
    transition: all 500ms;
    display: inline-block;
}


.line3{
	width: 493px;
	height: 133px;
	font-family: gotham;
	font-size: 122px;
	color:#fff;
	position: absolute;
  	bottom: -38px;
 	left: 50%;
 	transform: translate(119px, -50%);
 	z-index: 2;
}
.about{
    width: 489px;
    height: 133px;
    font-family: gotham;
    font-size: 122px;
    color: #e20100;
    position: absolute;
    bottom: 0px;
	right: 150px;
    z-index: 3;
    cursor: pointer;
    direction: rtl;
    overflow: hidden;
    transition: all 500ms;
    background-color: transparent;
    display: inline-block;
}


.hoverarea{
    width: 170px;
    height: 133px;
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(30px, -50%);
    z-index: 1;
    direction: rtl;
    overflow: hidden;
    transition: all 500ms;
}
.hoverareahover{
	width: 638px;
}
.head_space{}

.christmas{
	width:300px;
	height:300px;
	background-image: url("../img/christmas.png");
	background-size:contain;
	background-repeat: no-repeat;
	position: absolute;
  	bottom: -150px;
 	left: 50%;
 	transform: translate(-50%, -50%);
 	z-index: 6;
}

.logo{
    width: 100px;
    height: 94px;
    background-image: url("../img/SOAP.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}
