*{
Background-color: linen;
}

@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.hbutton{
  padding-top: 19px;
  border-radius: 100px;
  text-align: center;
  height: 36px;
  width:55px;
  background:none;
  transform: rotate 360 degrees;
  position:relative;
  margin-left: 25px;
  margin-top: 90px;
  border: 3px solid skyblue;
}
.hbutton:hover {
   background-color:skyblue;
  -webkit-transform:rotate(-360deg);
  transition: all 0.4s;
  transition-iteration: reverse 0.4s;
  cursor: pointer;
}


